<div class="row">
    <div class="col-md-9 col-sm-7">
        <h2>Members</h2>
    </div>
    <div class="col-md-3 col-sm-5">
        <form method="get" role="form" class="search-form-full">
            <div class="form-group">
                <input type="text" class="form-control" name="s" id="search-input" placeholder="Search..." ng-model="search.name"/>
                <i class="entypo-search"></i>
            </div>
        </form>
    </div>
</div>
<!-- Member Entries -->
<!-- Single Member -->
<div ng-controller="UserCtrl">
    <div class="member-entry" ng-repeat="user in users | filter:search">
        <a href="extra-timeline.html" class="member-img">
            <img src="themes/default/images/member.jpg" class="img-rounded" />
            <i class="entypo-forward"></i>
        </a>
        <div class="member-details">
            <h4>
                <a href="extra-timeline.html">{{::user.name }}</a>
            </h4>
            <!-- Details with Icons -->
            <div class="row info-list">
                <div class="col-sm-4">
                    <i class="entypo-briefcase"></i>
                    {{::user.title }}
                </div>
                <div class="col-sm-4">
                    <i class="entypo-twitter"></i>
                    <a href="#">@johnnie</a>
                </div>
                <div class="col-sm-4">
                    <i class="entypo-facebook"></i>
                    <a href="#">fb.me/johnnie</a>
                </div>
                <div class="clear"></div>
                <div class="col-sm-4">
                    <i class="entypo-location"></i>
                    <a href="#">Prishtina</a>
                </div>
                <div class="col-sm-4">
                    <i class="entypo-mail"></i>
                    <a href="#">{{::user.email }}</a>
                </div>
                <div class="col-sm-4">
                    <i class="entypo-linkedin"></i>
                    <a href="#">johnkennedy</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Pager for search results -->
    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                <li><a href="#"><i class="entypo-left-thin"></i> Previous</a></li>
                <li><a href="#">Next <i class="entypo-right-thin"></i></a></li>
            </ul>
        </div>
    </div>
</div>